<%- include("../partials/header.ejs") %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to Traveller's Paradise!</h1>
      <p>
        View the various Exploration Points posted by our users and find out
        which destinations excites you more!
      </p>
      <p class="anchor-buttons">
        <a class="btn btn-lg btn-success" href="/touristspots/new">
          Add Exploration Point
        </a>
        <a class="btn btn-lg btn-primary" href="/touristspots"
          >View Exploration Points</a
        >
      </p>
    </div>
  </header>
</div>

<div class="conatiner">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="card main-card">
          <img class="card-img-top" src="<%= specificSpot.imageURL %>" />
          <div class="card-body">
            <% if(currentUser &&
            specificSpot.author.id.equals(currentUser._id)){ %>
            <!-- ============Responsive Customization================================= -->
            <div class="dropdown float-right">
              <button
                class="btn three-dots-main"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i style="font-size: 19px;" class="fa">&#xf142;</i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <form
                  class="dropdown-item"
                  action="/touristspots/<%= specificSpot._id %>/edit"
                  method="GET"
                >
                  <button class="btn btn-warning cm-edit-btn">
                    Edit
                  </button>
                </form>
                <form
                  class="dropdown-item"
                  action="/touristspots/<%= specificSpot._id %>?_method=DELETE"
                  method="POST"
                >
                  <button class="btn btn-danger cm-del-btn">
                    Delete
                  </button>
                </form>
              </div>
            </div>
            <!-- ============Responsive Customization================================= -->
            <form
              action="/touristspots/<%= specificSpot._id %>?_method=DELETE"
              method="POST"
              class="expo-res"
            >
              <button class="btn btn-danger float-right del-btn">Delete</button>
            </form>
            <a
              class="btn btn-warning float-right edit-btn expo-res"
              href="/touristspots/<%= specificSpot._id %>/edit"
              >Edit</a
            >
            <% } %>
            <h4 class="card-title">
              <%= specificSpot.name %>,
              <span class="city-name"><%= specificSpot.city %></span>
            </h4>

            <p class="card-text sub-by-name">
              Submitted by <%= specificSpot.author.username %>
            </p>
            <p class="card-text sub-date">
              <%= moment(specificSpot.createdAt).fromNow() %>
            </p>
            <p class="card-text desc-section">
              <%- specificSpot.description %>
            </p>
          </div>
        </div>
        <div class="card review-card">
          <div class="card-body">
            <a
              class="btn btn-success float-right"
              href="/touristspots/<%= specificSpot._id %>/comments/new"
              >Leave Review</a
            >
            <br /><br />
            <hr />
            <br />

            <% specificSpot.comments.forEach((comment) => { %>
            <div class="row cm-div">
              <div class="col-md-12">
                <% if(currentUser && comment.author.id.equals(currentUser._id)){
                %>
                <div class="dropdown float-right">
                  <button
                    class="btn three-dots"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i style="font-size: 19px;" class="fa">&#xf142;</i>
                  </button>
                  <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <form
                      class="dropdown-item"
                      action="/touristspots/<%= specificSpot._id %>/comments/<%= comment._id %>/edit"
                      method="GET"
                    >
                      <button class="btn btn-warning cm-edit-btn">
                        Edit
                      </button>
                    </form>
                    <form
                      class="dropdown-item"
                      action="/touristspots/<%= specificSpot._id %>/comments/<%= comment._id %>?_method=DELETE"
                      method="POST"
                    >
                      <button class="btn btn-danger cm-del-btn">
                        Delete
                      </button>
                    </form>
                  </div>
                </div>
                <% } %>
                <span class="float-right span-text">
                  <%=moment(comment.createdAt).fromNow()%>
                </span>
                <strong class="auth-name"
                  ><%= comment.author.username %>:</strong
                >
                <p class="cm-text"><%- comment.text %></p>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
        <div
          class="row justify-content-center align-items-center"
          style="margin: 12px auto;"
        >
          <a class="btn btn-danger" href="/touristspots" style="width: 300px;"
            >Go Back</a
          >
        </div>
      </div>
      <div class="col-md-3">
        <p class="lead">Exploration Point</p>
        <div class="list-group">
          <li class="list-group-item active">Info 1</li>
          <li class="list-group-item">Info 2</li>
          <li class="list-group-item">Info 3</li>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer.ejs") %>
