<%- include("../partials/header.ejs") %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to Exploration Point!</h1>
      <p>
        View the handpicked locations from the posts of our various users and
        see whose explorations matches with yours.
      </p>
      <p class="anchor-buttons">
        <a class="btn btn-lg btn-success" href="/touristspots/new">
          Add Exploration Point
        </a>
        <a class="btn btn-lg btn-primary" href="/touristspots"
          >View Exploration Points</a
        >
      </p>
    </div>
  </header>
</div>

<div class="conatiner">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="card main-card">
          <img class="card-img-top" src="<%= specificSpot.imageURL %>" />
          <div class="card-body">
            <h5 class="float-right right-side">Open Daily</h5>
            <h4 class="card-title"><%= specificSpot.name %></h4>
            <p class="card-text city-name">
              <%= specificSpot.city %>
            </p>
            <p class="card-text"><%- specificSpot.description %></p>
          </div>
        </div>
        <div class="card review-card">
          <div class="card-body">
            <a
              class="btn btn-success float-right"
              href="/touristspots/<%= specificSpot._id %>/comments/new"
              >Leave Review</a
            >
            <br /><br />
            <hr />
            <br />

            <% specificSpot.comments.forEach((comment) => { %>
            <div class="row">
              <div class="col-md-12">
                <span class="float-right">7 days ago</span>
                <strong class="auth-name"><%= comment.author %>:</strong>
                <p><%- comment.text %></p>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <p class="lead">Exploration Point</p>
        <div class="list-group">
          <li class="list-group-item active">Info 1</li>
          <li class="list-group-item">Info 2</li>
          <li class="list-group-item">Info 3</li>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer.ejs") %>
