<%- include("../partials/header.ejs") %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to Exploration Point!</h1>
      <p>
        View the handpicked locations from the posts of our various users and
        see whose explorations matches with yours.
      </p>
      <p class="anchor-buttons">
        <a class="btn btn-lg btn-success" href="/touristspots/new">
          Add Exploration Point
        </a>
        <a class="btn btn-lg btn-primary" href="/touristspots"
          >View Exploration Points</a
        >
      </p>
    </div>
  </header>
</div>

<div class="conatiner">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="card main-card">
          <img class="card-img-top" src="<%= specificSpot.imageURL %>" />
          <div class="card-body">
            <% if(currentUser &&
            specificSpot.author.id.equals(currentUser._id)){ %>
            <form
              action="/touristspots/<%= specificSpot._id %>?_method=DELETE"
              method="POST"
            >
              <button class="btn btn-danger float-right del-btn">Delete</button>
            </form>
            <a
              class="btn btn-warning float-right edit-btn"
              href="/touristspots/<%= specificSpot._id %>/edit"
              >Edit</a
            >
            <% } %>
            <h4 class="card-title">
              <%= specificSpot.name %>,
              <span class="city-name"><%= specificSpot.city %></span>
            </h4>

            <p class="card-text sub-by-name">
              Submitted by <%= specificSpot.author.username %>
            </p>
            <p class="card-text desc-section">
              <%- specificSpot.description %>
            </p>
          </div>
        </div>
        <div class="card review-card">
          <div class="card-body">
            <a
              class="btn btn-success float-right"
              href="/touristspots/<%= specificSpot._id %>/comments/new"
              >Leave Review</a
            >
            <br /><br />
            <hr />
            <br />

            <% specificSpot.comments.forEach((comment) => { %>
            <div class="row cm-div">
              <div class="col-md-12">
                <span class="float-right span-text">7 days ago</span>
                <% if(currentUser && comment.author.id.equals(currentUser._id)){
                %>
                <form
                  action="/touristspots/<%= specificSpot._id %>/comments/<%= comment._id %>?_method=DELETE"
                  method="POST"
                >
                  <button class="btn btn-danger float-right cm-del-btn">
                    Delete
                  </button>
                </form>
                <a
                  class="btn btn-warning float-right cm-edit-btn"
                  href="/touristspots/<%= specificSpot._id %>/comments/<%= comment._id %>/edit"
                  >Edit</a
                >
                <% } %>
                <strong class="auth-name"
                  ><%= comment.author.username %>:</strong
                >
                <p class="cm-text"><%- comment.text %></p>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <p class="lead">Exploration Point</p>
        <div class="list-group">
          <li class="list-group-item active">Info 1</li>
          <li class="list-group-item">Info 2</li>
          <li class="list-group-item">Info 3</li>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer.ejs") %>
